#about_us {
	padding: 100px 50px;

	@media screen and(max-width:320px) {
		padding: 70px 25px;
	}

	.image-profile {
		.image {
			height: 400px;
			width: 400px;
			border-radius: 100%;
			background-image: url("../images/image-7.jpg");
			background-position: 50%;
			background-size: cover;

			@media screen and(max-width:320px) {
				height: 250px;
				width: 250px;
			}
		}
	}

	.content {
		padding-left: 60px;

		@media screen and(max-width:320px) {
			padding: 50px 0;
			text-align: center;
		}

		.title_section {
			margin-bottom: 30px;
		}
		.desc_section {
			margin-bottom: 50px;

			@media screen and(max-width:320px) {
				text-align: left;
				font-size: 25px;
				margin: 25px 0;
			}

		}
		p {
			@media screen and(max-width:320px) {
				text-align: left;
			}
		}
		

		.author {
			margin-top: 60px;

			@media screen and(max-width:320px) {
				margin-top: 30px;
				position: relative;
			}
			img {
				float: left;
				width: 60px;
				height: 60px;
				border-radius: 100%;
				margin-right: 15px;

				@media screen and(max-width:320px) {
					margin: 0;
				}
			}
			h5 {
				display: block;
				color: $c_b;
				font-weight: 600;
				padding-top: 10px;

				@media screen and(max-width:320px) {
					font-size: 13px;
					display: inline-block;
					position: absolute;
					left: 80px;
				}

				span {
					display: block;
					font-weight: 400;
					font-size: 14px;
					color: $c_content;
					margin-top: 5px;
				}
			}
		}
	}

	.statistic {
		margin-top: 180px;
		text-align: center;

		@media screen and(max-width:320px) {
			margin-top: 30px;
		}

		h5 {
			display: block;
			font-size: 68px;
			font-weight: 500;
			color: $c_b;

			@media screen and(max-width:320px) {
				font-size: 28px;
				text-align: center;
			}

			span {
				font-size: 18px;
				display: block;
				color: $c_content;
				margin-top: 10px;

				@media screen and(max-width:320px) {
					font-size: 15px;
					line-height: 1.5;
					text-align: center;
				}
			}
		}
	}
}