#our_team {
	padding: 0 0 155px;
	margin-top: 20px;
	text-align: center;

	@media screen and(max-width:320px) {
		padding: 0 0 70px;
	}
	

	.team_list {
		margin-top: 60px;


		.col-lg-4 {

		img {
			height: 180px;
			width: 180px;
			border-radius: 100%;
			transition: all 0.5s ease-in-out;


			&:hover, &:active, &:focus {
				transform: scale(1.2);
			}
		}
		h5 {
			display: block;
			margin-top: 40px;
			color: $c_b;
			font-size: 18px;

			@media screen and(max-width:320px) {
				margin: 10px 0 30px;
			}
		}
		span {
			display: block;
			margin-top: 5px;
			color: $c_content;
			font-size: 14px;
			font-weight: 400;
		}
	}
	}
	
}