#testimonial {
	background-image: url("../images/image-2.jpg");
	background-size: cover;
	background-position: 50%;
	position: relative;
	z-index: 0;

	padding: 120px 0;
	text-align: center;
	
	@media screen and(max-width:320px) {
		min-height: 450px;
		height: 100vh;
		background-position: 50%;
		padding: 55px 0 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -1;

	}

	.content {
		color: $w;
		.icon {
			display: inline-block;
			font-size: 22px;
			width: 70px;
			height: 70px;
			line-height: 70px;
			border-radius: 100%;
			border: 2px solid $primary;
			margin-bottom: 25px;
			
			@media screen and(max-width:320px) {
				font-size: 17px;
				width: 50px;
				height: 50px;
				line-height: 50px;
			}

			.fa-quote-right::before {
				content: "\f10e";
			}
		}
		p {
			color: $w;
			font-size: 22px;
			margin: auto;
			max-width: 720px;
			margin-bottom: 40px;

			@media screen and(max-width:320px) {
				font-size: 17px;
			}

        }
        h5 {
            display: block;
            font-size: 18px;
            margin-top: 30px;
			color: $w;
			
			@media screen and(max-width:320px) {
				font-size: 13px;
			}
            
        }
        span {
            display: block;
            color: $w;
            font-size: 14px;
            font-weight: 400;
			margin-top: 5px;
			
			@media screen and(max-width:320px) {
				font-size: 10px;
			}
        }
		

	}
}